<nav class="container py-16 py-sm-12 d-flex align-center justify-between">
  <ul class="d-flex align-center">
    <li class="me-48">
      <a href="story.html">
        <img src="/assets/images/logo.svg" alt="URBNSTEP">
      </a>
    </li>
    <li class="me-40 d-sm-none">
      <a href="products.html" class="nav-link label py-12">商品列表</a>
    </li>
    <li class="d-sm-none">
      <a href="story.html" class="nav-link label py-12">品牌故事</a>
    </li>
  </ul>
  <a href="#" class="nav-link label p-12"><i class="bi bi-person"></i></a>
</nav>