.footer {
  width: 1296px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer-divider {
  border-top: 1px solid $neutral-300;
  padding-top: 32px;
}

@media (max-width: 767px) {
  .footer-divider {
    margin-left: 12px;
    margin-right: 12px;
  }
}