.product-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.product-col {
  width: calc(100% / 12 * 6);
  padding-left: 4px;
  padding-right: 4px;
}

.product-col:first-child {
  @media (max-width: 768px) {
    width: 100%;
  }
}

.deleted-price {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: $neutral-500;
  padding-left: 8px;
}

.product-color {
  width: 64px;
  text-align: center;
  color: $neutral-600;
}

.btn-product-size {
  border: 1px solid $neutral-300;
  width: 160px;
}

.btn-product-size.active,
.btn-product-size:hover {
  border-color: $neutral-900;
}

@media (max-width: 576px) {
  .btn-product-size {
    padding: 12px 24px;
  }
}

.product-action {
  display: flex;
  gap: 8px;
}

@media (max-width: 768px) {
  .product-action .btn:first-child {
    order: 2;
  }
  .product-action .btn:last-child {
    order: 1;
  }
}

.product-action .btn {
  width: 50%;
}

@media (max-width: 768px) {
  .product-action .btn.btn-dark {
    width: 80%;
  }
  .product-action .btn.btn-light {
    border: none;
    width: 20%;
  }
}

.product-action .bi {
  padding-right: 8px;
}

.product-info-item {
  border-bottom: 1px solid $neutral-300;
}

.product-info-item p {
  color: $neutral-600;
}

.product-info-title {
  font-weight: 500;
}

@media (max-width: 768px) {
  .flex-nowrap {
    flex-wrap: nowrap;
  }
  .overflow-x-auto {
    overflow-x: auto;
  }
  .row.flex-nowrap .col-3,
  .row.flex-nowrap .col-md-3,
  .row.flex-nowrap .col-sm-3 {
    flex-shrink: 0;
  }
}

.product-image-wrapper {
  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}
